<div>
    <div class="games row" *ngFor="let game of games">
        <span class="col-12 col-sm-12 col-md-4 col-lg-3">Title: {{game.title}}</span>
        <span class="col-12 col-sm-12 col-md-8 col-lg-5">
            Description:  {{game.description}}
        </span>
        <p class="col-12 col-sm-12 col-md-12 col-lg-4">
            <span [ngClass]="{'voted-text':game.clickedMessage}">{{game.clickedMessage ? game.clickedMessage:"Click to rate game"}}</span>
            <span class="glyphicon glyphicon-star-empty star" (click)="addRating(game, 1)"></span>
            <span class="glyphicon glyphicon-star-empty star" (click)="addRating(game, 2)"></span>
            <span class="glyphicon glyphicon-star-empty star" (click)="addRating(game, 3)"></span>
            <span class="glyphicon glyphicon-star-empty star" (click)="addRating(game, 4)"></span>
            <span class="glyphicon glyphicon-star-empty star" (click)="addRating(game, 5)"></span>
    
        </p>
    </div>
</div>

