<h1>Games Review</h1>
<p>Welcome the games review website</p>
<header>by Bimal Sharma</header>
<ul class='nav navbar-nav'>
    <li [routerLinkActive]="['link-active']">
        <a [routerLink]="['/rategames']">
            <span class='glyphicon glyphicon-th-list'></span> Rate Games
        </a>
    </li>
    <li [routerLinkActive]="['link-active']">
        <a [routerLink]="['/games']">
            <span class='glyphicon glyphicon-th-list'></span> Edit Games
        </a>
    </li>

</ul>
<footer></footer>

