<div>
    <div class="games row" *ngFor="let game of games">
        <span class="col-12 col-sm-12 col-md-4 col-lg-3">Title:  {{game.title}}</span>
        <span class="col-12 col-sm-12 col-md-8 col-lg-5" *ngIf="game.isSelected">
            <textarea rows="5" cols="50" type="text" [(ngModel)]="game.description"></textarea> 
            <span class="glyphicon glyphicon-floppy-save glyp-size" (click)="saveDescription(game.code, game.description, game)">Save</span>
        </span>
        <span class="col-12 col-sm-12 col-md-8 col-lg-5" *ngIf="!game.isSelected" (click)="toggleEditMode(game)">
            <span>Description: {{game.description}}</span>
            <span class="glyphicon glyphicon-edit edit-font glyp-size"></span><span class="edit-font">Click to Edit</span>
        </span>

        <p class="col-12 col-sm-12 col-md-12 col-lg-4">
            Game Rating:
            <span class="glyphicon glyphicon-star-empty star" [ngClass]="{'star-highlighted':game.rating > 0}"></span>
            <span class="glyphicon glyphicon-star-empty star" [ngClass]="{'star-highlighted':game.rating > 1}"></span>
            <span class="glyphicon glyphicon-star-empty star" [ngClass]="{'star-highlighted':game.rating > 2}"></span>
            <span class="glyphicon glyphicon-star-empty star" [ngClass]="{'star-highlighted':game.rating > 3}"></span>
            <span class="glyphicon glyphicon-star-empty star" [ngClass]="{'star-highlighted':game.rating > 4}"></span>
        </p>
    </div>
</div>


